.container {
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.input-row {
  height: 10%;
  display: flex;
  padding: 5px 0;
  align-items: stretch;
}

.input {
  width: 80%;
}

.label {
  width: 20%;
}

.display-row {
  height: 30%;
  padding: 5px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.display-container {
  height: 100%;
  width: 49%;
  overflow: hidden auto;
  border: 1px solid $color-divide;
}